@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The 7 Habits of Highly Effective People</h1>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <img src="~/img/7habitsbook.jpg" alt="Centered Image" width="30%" class="img-fluid">
    </div>
    
</div>


