<div class="container">
    <div class="row">
        <h1>Stephen Covey's Time Management Matrix</h1>
    </div>
    <div class="row">
        <div class="col">
            <h2></h2>
        </div>
        <div class="col">
            <h2>Head 1</h2>
        </div>
        <div class="col">
            <h2>Head 2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2></h2>
        </div>
        <div class="col">
            <h2>Text 1</h2>
        </div>
        <div class="col">
            <h2>Text 2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2></h2>
        </div>
        <div class="col">
            <h2>Text 3</h2>
        </div>
        <div class="col">
            <h2>Text 4</h2>
        </div>
    </div>
</div>
