@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
            //TODO: make big boy changes here
}
@model Task


<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Add a Task</h1>
    </div>

    <form class="form col-form-label" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="TaskId" />
        </div>

        @* <div class="form-group"> *@
        @*     <label asp-for="CategoryId">Category:</label> *@
        @*     <select class="form-control" asp-for="CategoryId"> *@
        @*         <option value="">Select a Category</option> *@
        @*         @foreach (Category c in ViewBag.Categories) *@
        @*         { *@
        @*             <option value="@c.CategoryId">@c.CategoryName</option> *@
        @*         } *@
        @*     </select> *@
        @* </div> *@

        <div class="form-group">
            <label asp-for="TaskName">Task Name</label>
            <input class="form-control" asp-for="TaskName" />
        </div>

        @* <div class="form-group"> *@
        @*     <label asp-for="Year">Year:</label> *@
        @*     <input class="form-control" asp-for="Year" /> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label asp-for="Director">Director:</label> *@
        @*     <input class="form-control" asp-for="Director" /> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label asp-for="Rating">Rating:</label> *@
        @*     <select class="form-control" asp-for="Rating"> *@
        @*         <option value="G">G</option> *@
        @*         <option value="PG">PG</option> *@
        @*         <option value="PG-13">PG-13</option> *@
        @*         <option value="R">R</option> *@
        @*         <option value="NR">NR</option> *@
        @*         <option value="UR">UR</option> *@
        @*         <option value="TV-14">TV-14</option> *@
        @*         <option value="TV-PG">TV-PG</option> *@
        @*         <option value="TV-Y7">TV-Y7</option> *@
        @*         <option value="TV-PG">TV-PG</option> *@

        @*     </select> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label asp-for="Edited">Edited:</label> *@
        @*     <div> *@
        @*         <div class="form-check form-check-inline"> *@
        @*             <input class="form-check-input" type="radio" asp-for="Edited" value="true" id="editedYes" /> *@
        @*             <label class="form-check-label" for="editedYes">Yes</label> *@
        @*         </div> *@
        @*         <div class="form-check form-check-inline"> *@
        @*             <input class="form-check-input" type="radio" asp-for="Edited" value="false" id="editedNo" /> *@
        @*             <label class="form-check-label" for="editedNo">No</label> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label asp-for="LentTo">Lent To:</label> *@
        @*     <input class="form-control" asp-for="LentTo" /> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label asp-for="CopiedToPlex">Copied to Plex:</label> *@
        @*     <div> *@
        @*         <div class="form-check form-check-inline"> *@
        @*             <input class="form-check-input" type="radio" asp-for="CopiedToPlex" value="true" id="plexYes" /> *@
        @*             <label class="form-check-label" for="plexYes">Yes</label> *@
        @*         </div> *@
        @*         <div class="form-check form-check-inline"> *@
        @*             <input class="form-check-input" type="radio" asp-for="CopiedToPlex" value="false" id="plexNo" /> *@
        @*             <label class="form-check-label" for="plexNo">No</label> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label asp-for="Notes">Notes:</label> *@
        @*     <textarea class="form-control" asp-for="Notes"></textarea> *@
        @* </div> *@

        <button type="submit" class="btn btn-primary">Submit</button>

        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>